:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;

  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --main-color: #7cf03d;
  --white-color: #fff;
  --disabled-color: #fff3;
}

.author-info {
  color: var(--main-color);
}
/* .comments {
  border-bottom: 1px solid #706f6f;
  padding-bottom: 15px;
} */
.comments-content {
  background-color: var(--bg-color);
  padding: 20px 10px;
  padding: 0px 10px;
  padding-bottom: 16px;
  border-top: 1px solid #485159;
}
.comments-content .comment {
  background: var(--second-bg-color);
  border-radius: 6px;
  padding: 10px 15px;
}
.comments-content .comment:first-child {
  margin-top: 16px;
}
.comments-content .comment:not(:last-child) {
  margin-bottom: 10px;
  border-bottom: 1px solid #464749;
}
.comments-content .comment .comment-author-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.comments-content .comment .comment-author-info .comment-username {
  color: var(--main-color);
}
/* .add-comments-content { */
/* background: var(--second-bg-color); */
/* } */
.add-comments-content input {
  background: #242b36;
  border: 1px solid #a6a6a6;
  border-radius: 6px;
  color: #fff;
  padding: 5px 10px;
  color: var(--main-color);
}
.add-comments-content button,
.add-comments-content button :hover,
.add-comments-content button:focus {
  background: var(--second-bg-color) !important;
  color: var(--main-color);
}
.add-comments-content button :hover,
.add-comments-content button:focus {
  color: #fff !important;
}
